<div class="django_message">
{#    {% for msg in messages %}#}
{#        {% if msg.level_tag == 'error' %}#}
            <div class="alert alert-success msg " role="alert">
                <span class="close_btn">
                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                </span>
                <p>You have been successfully registered</p>
            </div>
{#        {% else %}#}
{#            <div class="alert alert-success msg" role="alert">#}
{#                <p>Success</p>#}
{#            </div>#}
{#        {% endif %}#}
{##}
{#    {% endfor %}#}
</div>

