{% extends 'base.html' %}
{% load static %}
{% block externalcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'vendors/dataTables/datatables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- START HEADER-->
        {% include 'static_element/header.html' %}
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        {% include 'static_element/sidebar.html' %}
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">

                <div class="page-heading">
                <h1 class="page-title">Documents</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_document_view' %}">Documents</a>
                    </li>
                </ol>
            </div>
                <div class="input-group-icon input-group-icon-left pt-4 mb-4">
                    <span class="input-icon input-icon-right font-16 pt-4"><i class="ti-search"></i></span>
                    <input class="form-control search-input-datatable" type="text" placeholder="Search..." id="searchbar">
                </div>

                <div class="ibox ibox-fullheight">
                    <div class="flexbox mb-4">
                        <div id="add_documents" class="btn btn-success btn-rounded ml-5 mt-3">
                            <a href="{% url 'create_task_view' %}"><i class="fas fa-file-alt"></i> New Document</a>
                        </div>
                    </div>
                    <hr class="mt-5">
                    <h3 class="ml-3">Created Daily Task</h3>
                    <hr>
                    <div class="table-responsive row">
                        <table class="table table-bordered table-hover" id="daily_task_datatable">
                            <thead class="thead-default thead-lg">
                                <tr>
                                    <th>Title</th>
                                    <th>Date</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for document in documents %}
                                    <tr>
                                        <td>{{ document.title }}</td>
                                        <td>{{ document.date|date:"Y-m-d"}}</td>
                                        <td>
                                            <a href="{% url 'download_daily_task_as_pdfview' document.id %}" class="btn btn-blue" download><i class="fas fa-download"></i> Download</a>
                                            <a class="btn btn-dark" href="{% url 'view_daily_document_as_pdf' document.id %}" target="_blank"><i class="fas fa-file-pdf-o"></i> View</a>
                                            <a href="{% url 'edit_daily_documents' document.id %}" class="btn btn-primary" style="color: white"><i class="fas fa-edit"></i> Edit</a>
                                            <a onclick="delete_daily_task(this)" id="deleteDailyTask" class="btn btn-danger" data="{{ document.id }}" style="color: white"><i class="fas fa-trash"></i> Delete</a>
                                        </td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
            {% include 'static_element/footer.html' %}
        </div>
    </div>
    <!-- BEGIN THEME CONFIG PANEL-->
{#    {% include 'static_element/log_message.html' %}#}
    <!-- END THEME CONFIG PANEL-->
    <!-- New question dialog-->
    {% include 'static_element/session-dialog.html' %}
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
    {% include 'static_element/quicksidebar.html' %}
    <!-- END QUICK SIDEBAR-->
{% endblock %}
    <!-- PAGE LEVEL PLUGINS-->

{% block externaljs %}
    <script src="{% static 'vendors/dataTables/datatables.min.js' %}"></script>
    <script>
        let daily_datatables = $('#daily_task_datatable').DataTable({
             pageLength: 10,
             fixedHeader: true,
             responsive: true,
            "sDom": 'rtip',
             order: [[1, 'desc']]
        })

        $('#searchbar').on('keyup', function () {
            daily_datatables.search(this.value).draw();
        })


        function delete_daily_task(data){
            console.log(data)
            let task_id = data.getAttribute("data")
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!',
            }).then((result)=>{
                if(result.value){
                    Swal.fire(
                        {
                            title: 'Deleted',
                            icon: 'success',
                            confirmButtonText: 'Ok',
                        }
                    ).then((result)=>{
                        if(result.value){
                            window.location.href = "daily_task_document_delete/"+task_id;
                        }
                    })
                }
            })

        }
    </script>

{% endblock %}

