{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block externalcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'vendors/summernote/dist/summernote.css' %}" rel="stylesheet" />
    <link href="{% static 'vendors/bootstrap-markdown/css/bootstrap-markdown.min.css' %}" rel="stylesheet" />
    <style>
        .django-ckeditor-widget{
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- START HEADER-->
        {% include 'static_element/header.html' %}
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        {% include 'static_element/sidebar.html' %}
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-heading">
                    <h1 class="page-title">Update Daily Task</h1>
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a href="{% url 'dashboard' %}"><i class="la la-home font-20"></i></a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="{% url 'my_document_view' %}">Documents</a>
                        </li>
                        <li class="breadcrumb-item">
                            <a href="">Update Daily Task</a>
                        </li>
                    </ol>
                </div>

            <div class="page-content fade-in-up">
                <div class="ibox ibox-fullheight">
                    <div class="ibox">
                        <form action="" method="post">{% csrf_token %}
                            <div class="ibox-body">
                                <div class="form-group mb-4">
                                    <label for="">Title: </label>
                                    {% render_field form.title class="form-control" placeholder="Title" %}
                                </div>
                                 <div class="form-group mb-4">
                                     <label for="">Content: </label>
                                    {% render_field form.content lass="form-control" id="summernote" data-plugin="summernote" data-air-mode="true" %}
                                </div>
                            </div>
                            <div class="ibox-footer">
                                <button class="btn btn-info mr-2" type="submit">Save</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>



            <!-- END PAGE CONTENT-->
            {% include 'static_element/footer.html' %}
        </div>
    </div>
    <!-- BEGIN THEME CONFIG PANEL-->
{#    {% include 'static_element/log_message.html' %}#}
    <!-- END THEME CONFIG PANEL-->
    <!-- New question dialog-->
    {% include 'static_element/session-dialog.html' %}
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
    {% include 'static_element/quicksidebar.html' %}
    <!-- END QUICK SIDEBAR-->
{% endblock %}
    <!-- PAGE LEVEL PLUGINS-->

{% block externaljs %}
    <script src="{% static 'vendors/summernote/dist/summernote.min.js' %}"></script>
    <script src="{% static 'vendors/bootstrap-markdown/js/bootstrap-markdown.js' %}"></script>
    <script>
        $(function() {
            $('#summernote').summernote({
                toolbar: [
                    ['style', ['style']],
                    ['font', ['bold', 'italic', 'underline', 'clear']],
                    ['fontname', ['fontname']],
                    ['fontsize', ['fontsize']],
                    ['color', ['color']],
                    ['para', ['ul', 'ol', 'paragraph']],
                    ['table', ['table']],
                    ['insert', ['link', 'picture', 'video']],
                    ['view', ['fullscreen', 'codeview', 'help']],
                    ['height', ['height']]
                ],
            });
        });
    </script>
{% endblock %}

