{% load widget_tweaks %}
{% load rest_framework %}
<div class="device_modal">
    <div class="modal_container">
        <span class="modal_container_close">&times;</span>

        <div class="modal_body">
            <div class="model_body_header">
                <h2 class="ibox-title mb-5 modal_title">Device Form</h2>
                <div class="border-bottom"></div>
            </div>

            <form class="form-info" action="" id="post_device" method="post">
                {% csrf_token %}
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-sm-6 form-group mb-4">

                            {% render_field serializer.device_Name style=style %}
                        </div>
                        <div class="col-sm-6 form-group mb-4">

                            {% render_field serializer.store style=style %}
                        </div>
                        <div class="col-sm-6 form-group mb-4">

                            {% render_field serializer.data style=style %}
                        </div>

                        
                        <div class="col-sm-6 form-group mb-4">
                            <div>Status</div> 
                            <label class="switch">
                                <input type="checkbox" id="checkbox">
                                <span class="slider round"></span>
                              </label>
                        </div>
                    </div>


                </div>
                <div class="ibox-footer">
                    <button class="btn btn-info mr-2" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>
