secret_key=70hw&&3en4emtk-miqi6&koswmkcrnyxjd)j*qhl^9)@u9jn^$
debug=False
allowed_hosts=10.10.5.30,localhost

#default_configuration  mongo
NAME=""
ENFORCE_SCHEMA
MONGODB_LOCALHOST

SESSION_COOKIE_NAME=FreezerSensor

# MQTT 
MQTT_BROKER = 
MQTT_PORT = 



#sparrow
TIME_INTERVAL_TO_SEND_SMS = 5
SPARROW_TOKEN='xxxxxxxxx'
SPARROW_FROM='Demo'
SPARROW_TO='898899887'