{% load widget_tweaks %}
{% load rest_framework %}
<div class="role_modal">
    <div class="modal_container">
        <span class="modal_container_close">&times;</span>

        <div class="modal_body">
            <div class="model_body_header">
                <h2 class="ibox-title mb-5 modal_title">Role Form</h2>
                <div class="border-bottom"></div>
            </div>

            <form class="form-info" action="" id="post_role" method="post">
                {% csrf_token %}
                <div class="ibox-body">
                    <div class="row">
                        <div class="col-sm-12 form-group mb-4">
{#                            {% render_form serializer %}#}
                            {% render_field serializer.name style=style %}
                        </div>
                    </div>
                </div>
                <div class="ibox-footer">
                    <button class="btn btn-info mr-2" type="submit">Submit</button>
                    <button class="btn btn-secondary" type="reset">Cancel</button>
                </div>
            </form>
        </div>
    </div>
</div>