{% extends 'base.html' %}
{% load static %}
{% block externalcss %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css">
     <link href="{% static 'vendors/bootstrap-datepicker/dist/css/bootstrap-datepicker3.min.css' %}" rel="stylesheet" />
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'vendors/dataTables/datatables.min.css' %}" rel="stylesheet" />
    <style>
        .modal{
            overflow: auto!important;
        }
        .add_task,.add_project{
            color: green;
            cursor: pointer;
        }
        .remove_task{
            font-size: 20px;
            color: #bb2124;
            padding-right: 25px;
            cursor: pointer;
            margin: auto;
        }
        .help-block{
            color: red;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- START HEADER-->
        {% include 'static_element/header.html' %}
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        {% include 'static_element/sidebar.html' %}
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">

                <div class="page-heading">
                <h1 class="page-title">Documents</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_document_view' %}">Documents</a>
                    </li>
                </ol>
            </div>
                <div class="input-group-icon input-group-icon-left pt-4 mb-4">
                    <span class="input-icon input-icon-right font-16 pt-4"><i class="ti-search"></i></span>
                    <input class="form-control search-input-datatable" type="text" placeholder="Search..." id="searchbar">
                </div>

                <div class="ibox ibox-fullheight">
                    <div class="flexbox mb-4">
                        <div id="add_documents" class="ml-5 mt-3">
                            <a href="" class="btn btn-success btn-rounded" data-toggle="modal"
                                    {% if user_task_role == "taskadmin" %} data-target="#assign_task_modal"
                                    {% else %} data-target="#taskmodal"
                                    {% endif %}>
                            <i class="fas fa-file-alt"></i> Create Task</a>
                        </div>
                    </div>
                    <hr class="mt-5">
                    <h3 class="ml-3">List Of Resource Allocation</h3>
                    <hr>
                    <div class="table-responsive row">
                        <table class="table table-bordered table-hover" id="daily_task_datatable">
                            <thead class="thead-default thead-lg">
                                <tr>
                                    <th>Id</th>
                                    <th>Date</th>
                                    <th>Project</th>
                                    <th>Assigned To</th>
                                    <th>Time</th>
                                    <th class="no-sort">Action</th>
                                </tr>
                            </thead>
                            <tbody>
{#                                {% for document in documents %}#}
{#                                    <tr>#}
{#                                        <td>{{ document.title }}</td>#}
{#                                        <td>{{ document.date|date:"Y-m-d"}}</td>#}
{#                                        <td>#}
{#                                            <a href="{% url 'download_daily_task_as_pdfview' document.id %}" class="btn btn-blue" download><i class="fas fa-download"></i> Download</a>#}
{#                                            <a class="btn btn-dark" href="{% url 'view_daily_document_as_pdf' document.id %}" target="_blank"><i class="fas fa-file-pdf-o"></i> View</a>#}
{#                                            <a href="{% url 'edit_daily_documents' document.id %}" class="btn btn-primary" style="color: white"><i class="fas fa-edit"></i> Edit</a>#}
{#                                            <a onclick="delete_daily_task(this)" id="deleteDailyTask" class="btn btn-danger" data="{{ document.id }}" style="color: white"><i class="fas fa-trash"></i> Delete</a>#}
{#                                        </td>#}
{#                                    </tr>#}
{#                                {% endfor %}#}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div class="modal fade" id="taskmodal" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                       <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Create Task</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      <div class="modal-body">
                         <form class="form-info" action="" id="post_task" method="post">
                            {% csrf_token %}
                            <div class="ibox-body task_container">
                                <div class="form-group mb-4">
                                    <label>Task</label>
                                    <div class="justify-content-center fa fa-plus-circle col-1 add_task"></div>
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary m-close" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary save">Save</button>
                            </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="modal fade" id="assign_task_modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                       <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Assign Task To</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                            </button>
                          </div>
                      <div class="modal-body">
                         <form class="form-info" action="" id="post_assign_to" method="post">
                            {% csrf_token %}
                            <div class="ibox-body assign_container">
                                <div class="form-group">
                                    <label>Assign To: </label>
                                    <div class="form-check">
                                        <select class="form-control user_team" name="assigned_to" id="assigned_to">
                                            <option value=""></option>
                                            {% for user_team_memb in user_team_membs %}
                                            <option value="{{ user_team_memb }}">{{ user_team_memb }}</option>
                                          {% endfor %}
                                        </select>
                                    </div>
                                </div>
                                 <div class="form-group" id="date">
                                        <label class="font-normal">Date: </label>
                                        <div class="input-group date">
                                            <span class="input-group-addon bg-white"><i class="fa fa-calendar"></i></span>
                                            <input class="form-control" type="text" id="assign_date" value="{% now "m/d/Y" %}">
                                        </div>
                                    </div>
                            </div>

                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary modal-close" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-primary next-modal">Next</button>
                            </div>
                        </form>
                      </div>

                    </div>
                  </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
            {% include 'static_element/footer.html' %}
        </div>
    </div>
    <!-- BEGIN THEME CONFIG PANEL-->
{#    {% include 'static_element/log_message.html' %}#}
    <!-- END THEME CONFIG PANEL-->
    <!-- New question dialog-->
    {% include 'static_element/session-dialog.html' %}
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
    {% include 'static_element/quicksidebar.html' %}
    <!-- END QUICK SIDEBAR-->
{% endblock %}
    <!-- PAGE LEVEL PLUGINS-->

{% block externaljs %}
    <script src="{% static 'vendors/bootstrap-datepicker/dist/js/bootstrap-datepicker.min.js' %}"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>
    <script src="{% static 'vendors/dataTables/datatables.min.js' %}"></script>
    <script src="http://cdn.datatables.net/plug-ins/1.10.15/dataRender/datetime.js"></script>
    <script>
          $('#date .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        let daily_datatables = $('#daily_task_datatable').DataTable({
             pageLength: 10,
             fixedHeader: true,
             responsive: true,
             ajax: {
                    url: "{% url 'list_resource_allocation' %}",
                    type: "GET",
             },
             columns: [
                 {"data": "id"},
                 {"data": "date"},
                 {"data": "name"},
                 {"data": "assigned_to"},
                 {"data": "time"},
                 {
                     data: null,
                     className: "center",
                     defaultContent: '<a href="javascript:void(0)" onclick="delete_modal(this)" class="text-muted font-16" style="margin-right: 10px" id="delete_btn"><i class="fas fa-trash-alt"></i></a>' +
                                         '<a href="javascript:void(0)" onclick="edit_modal(this);" class="text-muted font-16" id="edit_btn"><i class="far fa-edit"></i></a>'

                     }
             ],
            columnDefs: [{
                    targets: 1,
                    render: function (data){
                        return moment(data).format('MMMM Do YYYY')
                    }
                },
            ],
            "sDom": 'rtip',
             order: [[1, 'desc']]
        })

        $('#searchbar').on('keyup', function () {
            daily_datatables.search(this.value).draw();
        })

        $('#assign_task_modal .user_team').select2({
            width: '100%',
            allowClear: true,
            placeholder: "Choose a team member.",
            dropdownParent: $('#assign_task_modal')
        }).on('change', function(){
            $(this).valid();
        })

        {##}
        {# $.validator.addMethod("validateTeamMember", function (value, element) {#}
        {#    try {#}
        {#        console.log("Team Value: ")#}
        {#        console.log(value)#}
        {#    } catch (e) {#}
        {#        return false;#}
        {#    }#}
        {#    return true;#}
        //{#})#}
        $(function () {
            $('#post_assign_to').validate({
                rules:{
                    assigned_to: {
                        required: true
                    }
                },
                messages:{
                    assigned_to:{
                        required: 'Select a team member'
                    }
                },
                highlight: function (e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function (e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            })

             $('.next-modal').on('click',()=>{
                 if (!$("#post_assign_to").valid()) { // Not Valid
                    return false;
                 }
                 else {
                     $('#assign_task_modal').modal('hide');
                     $('#taskmodal').modal('show');
                 }

        })

        })








        {#function delete_daily_task(data){#}
        {#    console.log(data)#}
        {#    let task_id = data.getAttribute("data")#}
        {#    Swal.fire({#}
        {#      title: 'Are you sure?',#}
        {#      text: "You won't be able to revert this!",#}
        {#      icon: 'warning',#}
        {#      showCancelButton: true,#}
        {#      confirmButtonColor: '#3085d6',#}
        {#      cancelButtonColor: '#d33',#}
        {#      confirmButtonText: 'Yes, delete it!',#}
        {#    }).then((result)=>{#}
        {#        if(result.value){#}
        {#            Swal.fire(#}
        {#                {#}
        {#                    title: 'Deleted',#}
        {#                    icon: 'success',#}
        {#                    confirmButtonText: 'Ok',#}
        {#                }#}
        {#            ).then((result)=>{#}
        {#                if(result.value){#}
        {#                    window.location.href = "daily_task_document_delete/"+task_id;#}
        {#                }#}
        {#            })#}
        {#        }#}
        {#    })#}
        {##}
        //{#}#}

    </script>
    <script>
        let count = 0;
        let task_projects = [];
        function add_task_field(){
            count += 1;
            let html = '<div class="tasks_assign_fields">\n'+
                '<div class="mb-4">\n' +
                '           <label class="task_label"></label>\n' +
                '           <div class="fa fa-minus-circle col-1 remove_task" onclick="remove_task(this)"></div>\n' +
                '        </div>\n' +
                '        <input type="hidden" class="form-control task_id" name="id">\n'+
                '        <div class="mb-2">\n' +
                '            <input type="text" class="form-control task_name" name="task_name" placeholder="Enter task name">\n' +
                '        </div>\n' +
                '        <div class="mb-2">\n' +
                '            <select class="form-control assigned_by" name="assigned_by" id="assigned_by_'+count+'">\n' +
                '                                 <option value="" disabled selected>Select Assigned By</option>\n' +
                '                                 {% for user_team_memb in user_team_membs %}\n'+
                    '                                            <option value="{{ user_team_memb }}">{{ user_team_memb }}</option>\n'
                    +
                    '                           {% endfor %}\n' +
                '                             </select>\n' +
                '        </div>\n' +
                '        <div class="mb-2">\n' +
                '            <input type="text" class="form-control support" name="support" placeholder="Support">\n' +
                '        </div>\n' +
                '        <div class="form-group mb-2">\n' +
                '             <label>Time</label>\n' +
                '             <div class="row">\n' +
                '                  <div class="input-group col-6">\n' +
                '                       <input class="form-control hour" id="hour" name="hour" type="number" placeholder="Hour" step="any">\n' +
                '                       <span class="input-group-addon">Hour</span>\n' +
                '                  </div>\n' +
                '                  <div class="input-group col-6">\n' +
                '                       <input class="form-control minute" id="minute" name="minute" type="number" placeholder="Minute" step="any">\n' +
                '                       <span class="input-group-addon">Minute</span>\n' +
                '                  </div>\n' +
                '              </div>\n' +
                '        </div>\n'+
                '        <div class="mb-2">\n' +
                '             <input type="text" class="form-control issue" name="issue" placeholder="Issue">\n' +
                '        </div>\n' +
                '        <div class="mb-3">' +
                '             <input type="text" list="projects" class="form-control project_name" name="project_name" placeholder="Select project" autocomplete="off"/>\n' +
                '             <datalist id="projects">\n' +
                '              {% for project in projects %}\n'+
                    '           <option>{{ project }}</option>\n'+
                '               {% endfor %}\n'+
                '              </datalist>\n' +
                '        </div>\n             '+
                '        <div class="mb-2">\n' +
                '             <label>Pending: </label>\n'+
                '             <textarea class="form-control pending_tasks" id="pending_tasks" rows="3"></textarea>\n' +
                '        </div>\n'+
                '</div>'

                $('.task_container').append(html);

                $(`#assigned_by_${count}`).select2({
                    width: '100%',
                    allowClear: true,
                    placeholder: "Select assigned by",
                }).on('change', function(){
                    $(this).valid();
                })


        }

        function getProjectData(){
            $.ajax({
                url: "{% url 'list_projects' %}",
                type: 'get',
                dataType: 'json',
                success: function(data){
                    data['projects'].forEach(d_proj=>{
                        $('#projects').append($('<option>',{
                            text:d_proj.name,
                        }))
                    })
                }
            })
        }

        $('.add_task').on('click', ()=>{
            console.log("Add Task Clicked");
            add_task_field();
            console.log("Appended");
            getProjectData();

             {#$('input[type=radio][name=pending]').change(function() {#}
             {#       console.log("pending......")#}
             {#       if (this.value == "yes") {#}
             {#            $('div.form-group.pending_task').each((i,v)=>{#}
             {#               $(v).remove();#}
             {#           });#}
             {#           let html_pending = '<div class="form-group pending_task">\n' +#}
             {#               '    <textarea class="form-control" id="pending_tasks" rows="3"></textarea>\n' +#}
             {#               '  </div>'#}
             {##}
             {#           $('.tasks_assign_fields').append(html_pending);#}
             {##}
             {#       }else if (this.value == "no") {#}
             {#           $('div.form-group.pending_task').each((i,v)=>{#}
             {#               $(v).remove();#}
             {#           });#}
             {#       }#}
             {##}
             //{#});#}



        $('.task_label').each((i,e)=>{
            $(e).text(`Task ${i+1}`);
        })
        })

       function remove_task(_this){
            $(_this).parent().parent().remove();
       }
    </script>
    <script>

        $('#post_task').validate({
             errorClass: "help-block",
            rules:{
                task_name: 'required',
                assigned_by: 'required',
                project_name: 'required'
            },
            messages:{
                task_name: 'Enter task name',
                assigned_by: 'Enter assigned by name',
                project_name: 'Enter project name'
            },
            highlight: function(e) {
                    $(e).closest(".form-group").addClass("has-error")
            },
            unhighlight: function(e) {
                $(e).closest(".form-group").removeClass("has-error")
            },
        })

        $(document).on('submit', '#post_task', (e)=>{
           e.preventDefault();
           console.log("Clickig Save Button")
           let values = {};
           let assigned_to = $('#assigned_to').val();
           let date = $('#assign_date').val();
           console.log("Assigned to: ");
           console.log(assigned_to);
           let d_value = [];
           $('.tasks_assign_fields').each((i,v)=>{
               let dt_values = {};
               let hour = $(v).children().find('.hour').val();
               let hour_into_minute = hour*60;
               let minutes = $(v).children().find('.minute').val();
               let total_time = `${+hour_into_minute + +minutes}`
               values['assigned_to'] = assigned_to;
               values['date'] = date;
               dt_values['task_name'] = $(v).children().find('.task_name').val();
               dt_values['assigned_by'] = $(v).children().find('.assigned_by').val();
               dt_values['support'] = $(v).children().find('.support').val();
               dt_values['time'] = total_time;
               dt_values['issue'] = $(v).children().find('.issue').val();
               dt_values['project'] = $(v).children().find('.project_name').val();
               dt_values['pending'] = $(v).children().find('.pending_tasks').val();
               d_value.push(dt_values)
               values['tasks'] = d_value;
           })
            console.log("Data: ");
            console.log(values);
            $.ajax({
               url: "{% url 'resource_allocation_view' %}",
               dataType: "json",
               type: "post",
               data: {
                   daily_task_data: JSON.stringify(values),
                   csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                   action: 'post'
               },
               success: function (data){
                    console.log('Data after submit');
                    console.log(data);
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Resource allocation added',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    reset_modal();
                    daily_datatables.ajax.reload();
                    {#$('#projects').find('option').remove()#}
                   {#let projects = data['project'];#}
                   {#console.log(projects)#}
                   {#projects.forEach(p=>{#}
                   {#    task_projects.push(p.name);#}
                   //{#})#}
                   {#let options = "";#}
                   {#projects.forEach(p=>{#}
                   {#    console.log("Proj Name: ")#}
                   {#    console.log(p.name)#}
                   {#    options += '<option value="'+p.name+'" />'#}
                   {##}
                   //{#})#}
                   {#console.log("Options is: ")#}
                   {#console.log(options)#}
                   {#$('#projects').innerHTML = options;#}
               }
            })
       });

       {#$('#taskmodal').on('show.bs.modal', ()=>{#}
       {#    console.log("Showing task modal")#}
       {#    $('#projects').append('{% for project in projects %}\n'+#}
       {#         '<option></option>\n' +#}
       {#         '{% endfor %}')#}
       {##}
       //{#})#}

       function reset_modal(){
           $('.tasks_assign_fields').each((i,v)=>{
               $(v).remove();
           });
           $('#taskmodal').modal('hide');
           $('#post_task').trigger('reset');
           $('#post_assign_to').trigger('reset');
           $('#assigned_to').val(null).trigger('change');
           $('#update_task').attr('id','post_task')
       }

        $('.m-close').on('click', ()=>{
            $('#taskmodal').modal('hide');
            reset_modal();
        })
    </script>
    <script>
        function dynamic_attribute(){
                $('.task_id').each((i,e)=>{
                    $(e).attr('id', `id_${i+1}`);
                })

                $('.task_label').each((i,e)=>{
                    $(e).text(`Task ${i+1}`);
                });

                $('.task_name').each((i,e)=>{
                    $(e).attr('id', `task_name_${i+1}`)
                });

                $('.assigned_by').each((i,e)=>{
                    $(e).attr('id', `assigned_by_${i+1}`)
                });

                $('.support').each((i,e)=>{
                    $(e).attr('id', `support_${i+1}`)
                });

                $('.hour').each((i,e)=>{
                    $(e).attr('id', `hour_${i+1}`)
                });

                 $('.minute').each((i,e)=>{
                    $(e).attr('id', `minute_${i+1}`)
                });

                 $('.issue').each((i,e)=>{
                    $(e).attr('id', `issue_${i+1}`)
                });

                 $('.project_name').each((i,e)=>{
                    $(e).attr('id', `project_name_${i+1}`)
                });

                 $('.pending_tasks').each((i,e)=>{
                     $(e).attr('id', `pending_tasks_${i+1}`)
                 })
        }
        let task_id = null;

        function edit_modal(_this){
            console.log("Edit Clicked");
            task_id = $(_this).parent().siblings()[0].textContent;

            $.ajax({
               url: "{% url 'edit_resource_allocation' 1001 %}".replace(1001, task_id),
               dataType: "json",
               type: "get",
               success: function(data){
                   console.log(data)
                   $('#post_task').attr('id','update_task')
                   $('.save').text('Update');
                   $('.save').attr('class', 'btn btn-primary update');
                   $('.add_task').attr('class', 'justify-content-center fa fa-plus-circle col-1 update_task')
                   $('.user_team').val(data['project']['assigned_to']).trigger('change');
                   let date = data['project']['date'];
                   let formatted_date = moment(date, "YYYY-MM-DD").format("MM/DD/YYYY")
                   $('#assign_date').val(formatted_date);
                   $('#taskmodal').modal('show');
                   {#data['tasks'].forEach((v,i)=>{#}
                   {##}
                   //{#})#}
                   $.each(data['tasks'], (i, v)=>{
                       console.log(v)
                        add_task_field();
                        dynamic_attribute();
                        $(`#task_name_${i+1}`).val(v.name);
                        $(`#id_${i+1}`).val(v.id);
                        $(`#assigned_by_${i+1}`).val(v.assigned_by).trigger('change');
                        $(`#support_${i+1}`).val(v.support);
                        let time = v.time;
                        if(time%60 === 0){
                            console.log("Hereee")
                            $(`#hour_${i+1}`).val(time/60);
                        }
                        else{
                            let hour = parseInt(time/60);
                            let minute = time % 60;
                            $(`#hour_${i+1}`).val(hour);
                            $(`#minute_${i+1}`).val(minute);
                        }
                        $(`#issue_${i+1}`).val(v.issue);
                        $(`#project_name_${i+1}`).val(data['project']['name']).attr("disabled", true)
                        $(`#pending_tasks_${i+1}`).val(v.pending);
                    })
               }
            })
        }

        $(document).on('submit', '#update_task', (e)=>{
            e.preventDefault();
            console.log("Clickig Save Button")
           let values = {};
           let assigned_to = $('#assigned_to').val();
           let date = $('#assign_date').val();
           console.log("Assigned to: ");
           console.log(assigned_to);
           let d_value = [];
           $('.tasks_assign_fields').each((i,v)=>{
               let dt_values = {};
               let hour = $(v).children().find('.hour').val();
               let hour_into_minute = hour*60;
               let minutes = $(v).children().find('.minute').val();
               let total_time = `${+hour_into_minute + +minutes}`
               values['assigned_to'] = assigned_to;
               values['date'] = date;
               dt_values['id'] = $(v).find('.task_id').val();
               dt_values['name'] = $(v).children().find('.task_name').val();
               dt_values['assigned_by'] = $(v).children().find('.assigned_by').val();
               dt_values['support'] = $(v).children().find('.support').val();
               dt_values['time'] = total_time;
               dt_values['issue'] = $(v).children().find('.issue').val();
               dt_values['project'] = $(v).children().find('.project_name').val();
               dt_values['pending'] = $(v).children().find('.pending_tasks').val();
               d_value.push(dt_values)
               values['tasks'] = d_value;
           })
            console.log("Data: ");
            console.log(values);
            $.ajax({
               url: "{% url 'edit_resource_allocation' 1001 %}".replace('1001', task_id),
               dataType: "json",
               type: "post",
               data: {
                   daily_task_data: JSON.stringify(values),
                   csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val(),
                   action: 'post'
               },
               success: function (data){
                    Swal.fire({
                        position: 'top-end',
                        icon: 'success',
                        title: 'Updated Successfully',
                        showConfirmButton: false,
                        timer: 2500
                    })
                    reset_modal();
                    daily_datatables.ajax.reload();
               }
            })
        })


        function delete_modal(_this){
            let project_id = $(_this).parent().siblings()[0].textContent;
            console.log(project_id)
            Swal.fire({
            title: 'Are you sure?',
            icon: "warning",
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: "#d33",
            confirmButtonText: 'Yes, delete it',
        }).then((result)=>{
            if(result.value){
                console.log("Result Value is: ")
                console.log(result.value)
                $.ajax({
                    url: "{% url 'delete_resource_allocation'  1001 %}".replace('1001',project_id),
                    type: 'get',
                    dataType: 'json',
                    success: function (){
                        Swal.fire(
                            'Deleted!',
                            `Project has been deleted.`,
                            'success'
                        )
                        daily_datatables.ajax.reload();
                        $('#projects').find('options').remove();
                        getProjectData();

                    }
                })
            }
            else{
                Swal.fire({
                    title: 'Delete cancelled',
                    icon: 'warning',
                    showConfirmButton: false,
                    timer: 1500
                })
            }
        })


        }
        </script>
{% endblock %}

