{% extends 'base.html' %}
{% load static %}
{% block externalcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'vendors/dataTables/datatables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- START HEADER-->
        {% include 'static_element/header.html' %}
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        {% include 'static_element/sidebar.html' %}
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">

                <div class="page-heading">
                <h1 class="page-title">Documents</h1>
                <ol class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="{% url 'dashboard' %}"><i class="la la-home font-20"></i></a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'my_document_view' %}">Documents</a>
                    </li>
                </ol>
            </div>
                <div class="input-group-icon input-group-icon-left pt-4 mb-4">
                    <span class="input-icon input-icon-right font-16 pt-4"><i class="ti-search"></i></span>
                    <input class="form-control search-input-datatable" type="text" placeholder="Search..." id="searchbar">
                </div>

                <div class="ibox ibox-fullheight">
                    <hr class="mt-5">
                    <h3 class="ml-3">Uploaded Documents</h3>
                    <hr>
                    <div class="table-responsive row">
                            <table class="table table-bordered table-hover" id="upload_document_datatable">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th class="no-sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in documents %}
                                        <tr>
                                            <td>{{ document.title }}</td>
                                            <td>{{ document.date|date:"Y-m-d"}}</td>
                                            <td>
                                                <a href="{{ document.file.url }}" class="btn btn-blue" download><i class="fas fa-download"></i> Download</a>
                                                <a class="btn btn-dark" href="{% url 'open_document' document.id %}" target="_blank"><i class="fas fa-file-pdf-o"></i> View</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>

                    <hr class="mt-5">
                    <h3 class="ml-3">Created Documents</h3>
                    <hr>
                    <div class="table-responsive row">
                        <table class="table table-bordered table-hover" id="created_document_datatable">
                                <thead class="thead-default thead-lg">
                                    <tr>
                                        <th>Title</th>
                                        <th>Date</th>
                                        <th class="no-sort">Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for document in created_documents %}
                                        <tr>
                                            <td>{{ document.title }}</td>
                                            <td>{{ document.date|date:"Y-m-d"}}</td>
                                            <td>
                                                <a href="{% url 'download_created_document_as_pdfview' document.id %}" class="btn btn-blue" download><i class="fas fa-download"></i> Download</a>
                                                <a class="btn btn-dark" href="{% url 'create_new_document_detail_view' document.id %}" target="_blank"><i class="fas fa-file-pdf-o"></i> View</a>
                                            </td>
                                        </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                    </div>
                </div>
            </div>
            <!-- END PAGE CONTENT-->
            {% include 'static_element/footer.html' %}
        </div>
    </div>
    <!-- BEGIN THEME CONFIG PANEL-->
{#    {% include 'static_element/log_message.html' %}#}
    <!-- END THEME CONFIG PANEL-->
    <!-- New question dialog-->
    {% include 'static_element/session-dialog.html' %}
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
    {% include 'static_element/quicksidebar.html' %}
    <!-- END QUICK SIDEBAR-->
{% endblock %}
    <!-- PAGE LEVEL PLUGINS-->

{% block externaljs %}
    <script src="{% static 'vendors/dataTables/datatables.min.js' %}"></script>
    <script>
        let uploadDocumentDatatables = $('#upload_document_datatable').DataTable({
             pageLength: 10,
             fixedHeader: true,
             responsive: true,
            "sDom": 'rtip',
             order: [[1, 'desc']],
             columnDefs: [
                 {
                    targets: 'no-sort',
                    orderable: false
                },
             ],
            aoColumnDefs: [
                {
                    aTargets: 0,
                    fnCreatedCell: function (td) {
                        $(td).css('width', '33%');
                    }

                }
            ]
        })

        $('#searchbar').on('keyup', function () {
            uploadDocumentDatatables.search(this.value).draw();
        })
    </script>
    <script>
        let createDocumentDatatables = $('#created_document_datatable').DataTable({
             pageLength: 10,
             fixedHeader: true,
             responsive: true,
            "sDom": 'rtip',
             order: [[1, 'desc']],
             columnDefs: [
                 {
                    targets: 'no-sort',
                    orderable: false
                },
             ],
            aoColumnDefs: [
                {
                    aTargets: 0,
                    fnCreatedCell: function(td){
                        $(td).css("width", "33%")
                    }
                }
            ]
        })

        $('#searchbar').on('keyup', function () {
            createDocumentDatatables.search(this.value).draw();
        })
    </script>

{% endblock %}

