{% extends 'base.html' %}
{% load static %}
{% block externalcss %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="{% static 'vendors/dataTables/datatables.min.css' %}" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="page-wrapper">
        <!-- START HEADER-->
        {% include 'static_element/header.html' %}
        <!-- END HEADER-->
        <!-- START SIDEBAR-->
        {% include 'static_element/sidebar.html' %}
        <!-- END SIDEBAR-->
        <div class="content-wrapper">
            <!-- START PAGE CONTENT-->
            <div class="page-content fade-in-up">
                <div class="ibox ibox-fullheight">
                    <div class="ibox">
                        <div class="ibox-head">
                            <div class="ibox-title" style="border-bottom: none; margin-top: 10px;">{{ document.title }}</div>
                        </div>
                        <p class="text-muted mr-4 mt-3" style="text-align: right">{{ document.date }}</p>
                        <div class="ibox-body">
                            {{ document.content|safe }}
                        </div>
                    </div>
                </div>
            </div>

            <!-- END PAGE CONTENT-->
            {% include 'static_element/footer.html' %}
        </div>
    </div>
    <!-- BEGIN THEME CONFIG PANEL-->
{#    {% include 'static_element/log_message.html' %}#}
    <!-- END THEME CONFIG PANEL-->
    <!-- New question dialog-->
    {% include 'static_element/session-dialog.html' %}
    <!-- End New question dialog-->
    <!-- QUICK SIDEBAR-->
    {% include 'static_element/quicksidebar.html' %}
    <!-- END QUICK SIDEBAR-->
{% endblock %}
    <!-- PAGE LEVEL PLUGINS-->

{% block externaljs %}
{% endblock %}

