{#{% extends 'base.html' %}#}
{##}
{#{% block content %}#}
{#  <h3>Forgot password</h3>#}
{#  <form method="post">#}
{#    {% csrf_token %}#}
{#    {{ form.as_p }}#}
{#    <button type="submit">Submit</button>#}
{#  </form>#}
{#{% endblock %}#}

{% extends 'base.html' %}
{% load static %}
{% load widget_tweaks %}
{% block externalcss %}
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <style>
        .close_btn .close{
            color: black;
            position: absolute;
            top: 0;
            right: 0;
            /* border: 2px solid black; */
            background: white;
        }
    </style>
{% endblock %}

{% block content %}
    <div class="cover"></div>
    <div class="ibox login-content">
        <div class="text-center">
            <span class="auth-head-icon"><i class="la la-user"></i></span>
        </div>
        <h4 class="font-strong text-center mb-3">Forgot Password</h4>
            {% if messages %}
                {% for msg in messages %}
                    {% if msg.tags == "error" %}
                        <div class="alert alert-danger" role="alert">
                        <span class="close_btn">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        </span>
                            {{ msg }}
                        </div>
                    {% elif msg.tags == "success" %}
                        <div class="alert alert-success" role="alert">
                        <span class="close_btn">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true"></button>
                        </span>
                            {{ msg }}
                        </div>
                    {% endif %}
                {% endfor %}
            {% endif %}
        <p class="text-muted text-justify ml-4 mr-4">Please enter your email. If an account exists with the email you entered then password reset request will be sent to admin. </p>
        <form class="ibox-body pt-3" id="password-reset" action="{% url 'password_reset' %}" method="POST">{% csrf_token %}
            <div class="row">
                <div class="col-12 form-group">
                    <label for="id_email">Email</label>
                    <input type="email" name="email" maxlength="254" placeholder="Email" id="email" class="form-control" required=""/>
                </div>
            </div>

            <button class="btn btn-info mr-2"  type="submit">Submit</button>
            <a href="{% url 'login_view' %}" class="btn btn-primary mr-2">Sign In</a>
        </form>
    </div>
{% endblock %}

{% block externaljs %}
    <script>
        $(function() {
            $('#password-reset').validate({
                errorClass: "help-block",
                rules: {
                    email: {
                        required: true,
                        email: true
                    },
                },
                highlight: function(e) {
                    $(e).closest(".form-group").addClass("has-error")
                },
                unhighlight: function(e) {
                    $(e).closest(".form-group").removeClass("has-error")
                },
            });
        });
    </script>
{% endblock %}