{% extends 'base.html' %}
{% load static %}
{% block externalcss %}
<link href="{% static 'vendors/jvectormap/jquery-jvectormap-2.0.3.css' %}" rel="stylesheet" />
<link href="{% static 'css/pagination.css' %}" rel="stylesheet" />
<style>
    .user_img {
        height: 45px;
        width: 45px;
    }

    .user_card {
        box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.5);
        margin-bottom: 40px;
    }

    .user_card.col-lg-4 {
        max-width: 30.9%;
    }

    .user_row {
        justify-content: space-between;
    }

    .card {
        flex-direction: column !important;
    }

    .pagination_user {
        display: block;
        width: 100%;
        text-align: right;
    }

    .user_404 {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .img_404 {
        width: 240px;

    }

    ul.media-list-divider {
        height: 650px;
    }
</style>
{% endblock %}

{% block content %}
<div class="page-wrapper">
    <!-- START HEADER-->
    {% include 'static_element/header.html' %}
    <!-- END HEADER-->
    <!-- START SIDEBAR-->
    {% include 'static_element/sidebar.html' %}
    <!-- END SIDEBAR-->
    <div class="content-wrapper">
        <!-- START PAGE CONTENT-->
        <div class="page-content fade-in-up">
            <div class="row mb-4">
                {% if user_has_privilege %}
                <div class="col-lg-6 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="73" data-bar-color="#18C5A9" data-size="80"
                                data-line-width="8">
                                <span class="easypie-data text-success" style="font-size:32px;"><i
                                        class="la la-users"></i></span>
                            </div>
                            <div>
                                <h3 class="font-strong text-success">{{ total_org }}</h3>
                                <div class="text-muted">TOTAL ORGANIZATION</div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endif %}
                <div class="col-lg-6 col-md-6">
                    <div class="card mb-4">
                        <div class="card-body flexbox-b">
                            <div class="easypie mr-4" data-percent="42" data-bar-color="#5c6bc0" data-size="80"
                                data-line-width="8">
                                <span class="easypie-data font-26 text-primary"><i class="ti-files"></i></span>
                            </div>
                            <div>
                                {% if user_has_privilege %}
                                <h3 class="font-strong text-primary">{{ total_device }}</h3>
                                {% else %}
                                <h3 class="font-strong text-primary">{{ total_dev }}</h3>
                                {% endif %}
                                <div class="text-muted">TOTAL DEVICE</div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- END PAGE CONTENT-->
        {% include 'static_element/footer.html' %}
    </div>
</div>

{% endblock %}
<!-- PAGE LEVEL PLUGINS-->

{% block externaljs %}
<script src="{% static 'vendors/chart.js/dist/Chart.min.js' %}"></script>
<script src="{% static 'vendors/jquery.easy-pie-chart/dist/jquery.easypiechart.min.js' %}"></script>
<script src="{% static 'vendors/jvectormap/jquery-jvectormap-2.0.3.min.js' %}"></script>
<script src="{% static 'vendors/jvectormap/jquery-jvectormap-world-mill-en.js' %}"></script>
<!-- PAGE LEVEL SCRIPTS-->
<script src="{% static 'js/scripts/dashboard_visitors.js' %}"></script>
{% endblock %}